doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title A Pen by  賴政諺
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.css")
		link(rel="stylesheet" href="css/style.css")
	body
		.main
			section#section_header
				.block.block1
				.block.block2
				.title
					h1 Front End Study Project
					h3 前端讀書會
				.scrollDown
					img(src="assets/pointer.svg", alt="")
					p.scrollInfo scroll
			section#section_motivation
				.block.block1
				.block.block2
				h3.header 設立動機
				hr
				.motivateImg.img1
					img(src="assets/efficiency.png", alt="")
					p 效率
				.motivateImg.img2
					img(src="assets/options.png", alt="")
					p 領域
				.motivateImg.img3
					img(src="assets/group.png", alt="")
					p 合作
				.motivateImg.img4
					img(src="assets/rich.png", alt="")
					p 費用
			section#section_target
				.block.block1
				.block.block2
				h3.header 組織目標
				hr
				.container.screen
					.page
						img(src="assets/meeting.png", alt="")
						p 建立一個共同分享、交流網頁資源的平台
					.page
						img(src="assets/group.png", alt="")
						p 培養出有基本後端知識的前(全)端工程師
					.page
						img(src="assets/networking.png", alt="")
						p 合作完成大型專案培養專案開發合作與溝通能力
					.page
						img(src="assets/search.png", alt="")
						p 未來定期交流各自研究領域增進成員廣度
					.page
						.centerline
						.point.point1
							.target_period 短期
							.target_info
								p -基本後端知識之前(全)端工程師
								p -獨立開發SPA專案之能力
						.point.point2
							.target_period 中期
							.target_info
								p -共同合作完成自訂專案與外接case
								p -以團隊的方式經營
						.point.point3
							.target_period 長期
							.target_info
								p -定期交流各自的研究領域
								p -發展成大型網頁交流平台
			section#section_structure
				.block.block1
				.block.block2
				h3.header 組織結構
				hr
				img(src="assets/流程圖2.svg", alt="")
			section#section_operation
				h3.header 運作模式
				.block.block1
				.block.block2
				hr
				img(src="assets/流程圖.svg", alt="")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.js")
		script(src="js/index.js")